<div class="bg-blue border-t-8 border-teal py-2.5  ">
  <div class="xl:container flex justify-between items-center m-auto">
    <div>
      <%= link_to "/" do %>
        <%= image_tag "context-logo-white.png", class:"w-12 "  %>
      <% end %>
    </div>
    <div class="nav-links">
      <%= link_to "Library", stories_path, class: "text-white" %>
      <span class="text-white"> | </span>
      <%= link_to "Settings", stories_path, class: "text-white" %>
    </div>
  </div>
</div>
