<div class="rounded-lg shadow-lg">

  <div>
    <%= image_tag "#{story.photo}", class: "rounded-t-lg" %>
  </div>

    <h5 class="p-4 font-bold text-xl">
      <%= story.name %>
    </h5>
    <p class="pr-4 pl-4">
      <%= story.summary %>
    </p>

  <div class="p-4 font-bold text-sm inline-block">
    <span>5+ years of age</span>
  </div>

</div>


