<% if @story.published == true %>

  <% @story.sentences.first(10).each do |sentence| %>

    <% if rand(4) == rand(4) %>
      <%= turbo_frame_tag sentence do %>
        <%= link_to story_sentence_path(@story, sentence) do %>
          <span data-controller="check">
            <span class="sentence story-lines rounded-lg text-white underline decoration-4" data-action="click->check#show"><%= render "sentences/sentence", sentence: sentence.spanish %></span>
          </span>
        <% end %>

        <% end %>

    <% else %>
      <span class=" story-lines sentence text-white">
        <%= render "sentences/sentence", sentence: sentence.english %>
      </span>
    <% end %>

  <% end %>
<% end %>
