<% if @story.published == true %>
  <% @story.sentences.each do |sentence| %>

    <% if rand(2) == rand(2) %>
      <span class="text-pink border-2 border-blue rounded-lg">
        <%= sentence.spanish %>
      </span>
    <% else %>
      <span>
        <%= sentence.english %>
      </span>
    <% end %>

  <% end %>
<% end %>
