<div class="hero">
  <div class="flex mt-2">
    <div class="basis-2/5 bg-light-blue p-6 mr-2 rounded-3xl	">
      <h3 class="text-[#ACACAC]">Learn languages through</h3>
      <%= image_tag "context-logo-blue.png", class:"w-48" %>
      <h3 class="text-black">For children aged 5 to 7 who are learning to read and speak two languages</h3>
      <%= link_to "Start Reading", stories_path, class: "button" %>
    </div>
    <div class="basis-3/5">
      <%= image_tag "hero.jpg" %>
    </div>
  </div>
</div>