<%= render "stories/shared/navbar" %>

<div class='hero'>
  <div class='xl:container m-auto'>
    <div class='w-2/5'>
      <h3 class='text-[#ACACAC]'>Learn languages through</h3>
      <%= image_tag "context-logo-blue.png", class:'w-60 ' %>
      <h3 class='text-black'>For children aged 5 to 7 who are learning to read and speak two languages</h3>
    </div>
  </div>
</div>
