<div class="m-4">
  <div class="flex space-x-6 justify-center">
    <% @stories.each do |story| %>
      <div class="flex items-stretch w-1/4">
        <%= render "card", story: story %>
      </div>
    <% end %>
  </div>
</div>
