<div class="mt-8">
  <div class="flex space-x-8 justify-center">
    <% @stories.each do |story| %>
      <div class="flex items-stretch w-1/5">
        <% if story.published == true %>
          <%= render "card", story: story %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
