@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
  h1{
    font-size: 40px;
    letter-spacing: -1px;
  }
  h2{
    font-size: 28px;
    letter-spacing: -1px;
  }
  h3{
    font-size: 22px;
    letter-spacing: -1px;
  }
  body{
    /* min-height: 100vh !important;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1%; */
  }
  .story-lines{
    line-height: 40px;
    font-size: 24px;
  }
  .pop-up{
    position: fixed;
    bottom: 6%;
    left: 30%;
    background: #fff;
    width: 40%;
    font-size: 40px;
    padding: 20px;
    z-index: 20;
    border-radius: 20px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
  }
}

@layer components {
  .button {
    background-color: theme('colors.pink');
    padding: 10px 30px;
    border-bottom: theme('colors.orange') solid 4px;
    font-size: 20px;
  }
  .button:hover{
    background-color: theme('colors.light-pink');
  }
  /* ... */

}
